<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005188439450-fe93akvrbvboenkl6ld3k00hj17nnqea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005188439450-fe93akvrbvboenkl6ld3k00hj17nnqea</string>
	<key>API_KEY</key>
	<string>AIzaSyB8SJh30TFFC1vI9MuV49E_fYnMOq_VU7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1005188439450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softRideDriver</string>
	<key>PROJECT_ID</key>
	<string>soft-ride-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>soft-ride-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005188439450:ios:e7e263021e2157ddd6ae23</string>
</dict>
</plist>